* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  height: 100vh;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
}
.main-wrapper {
  /* background: firebrick; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.content {
  width: 80%;
  height: 90%;
  margin: 0 1em;
  border-radius: 5px;
}
.right {
  background: url("images/pattern-bg.svg") no-repeat;
  /* background: turquoise; */
}

.img-contain {
  background-size: contain;
}

.left {
  background: url("images/pattern-quotes.svg") no-repeat;
  /* background: turquoise; */
}

.testimony {
  font-size: 32px;
  font-weight: 500;
  line-height: 2em;
  /* background: yellow; */
  margin-top: 3.5em;
}

.attribution {
  position: absolute;
  bottom: 0;
  background: darkcyan;
  width: 100vw;
  height: 10vh;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
