* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  height: 100vh;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.img-style {
  box-shadow: -1px 10px 10px 0 #ccc;
}

.content {
  width: 80%;
  height: 90%;
  margin: 0 1em;
}
.right {
  background: url("images/pattern-bg.svg") no-repeat;
  position: relative;
}

.btn {
  position: absolute;
}

.prev {
  background: url("images/icon-prev.svg") no-repeat;
}

.img-contain {
  background-size: contain;
}

.left {
  background: url("images/pattern-quotes.svg") no-repeat;
}

.testimony {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5em;
  color: hsl(228, 45%, 44%);
  padding: 0 1em;
  margin-top: 3.5em;
}

.Author {
  text-align: right;
  color: hsl(228, 45%, 44%);
}
.Author span {
  opacity: 0.5;
  padding-left: 0.5em;
}

.attribution {
  position: absolute;
  bottom: 0;
  background: darkcyan;
  width: 100vw;
  height: 10vh;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
